<!--Contact Start -->
<div class="contact_field">
    <h2>Контактная информация:</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3><strong>Обращения граждан: </strong></h3>
                <p>
                    Граждане могут направлять обращения по почте, на электронный адрес Концерна «ГТС» 
                    zvernennya@teploseti.zp.ua или с помощью средств телефонной связи.
                </p>
                <p>
                    Обращения граждан, полученные по почте, на электронную почту Концерна «ГТС», с помощью средств
                    телефонной связи, регистрируются согласно ЗУ «Про звернення громадян» как письменные обращения и
                     рассматриваются в сроки, предусмотренные законом. 
                </p>
                <p>
                    <strong>ПОЛОЖЕННЯ</strong> про організацію та проведення особистого прийому громадян
                    генеральним директором Концерну «Міські	теплові мережі» <a href="#">смотреть >></a>
                </p>
                <p>
                    <strong>ПОЛОЖЕННЯ</strong> про організацію та проведення особистого прийому громадян посадовими 
                    особами Концерну «Міські теплові мережі» <a href="#">смотреть >></a>
                </p>
                <p>
                    <strong>ПОЛОЖЕННЯ</strong> про порядок розгляду письмових звернень громадян в
                     Концерні «Міські теплові мережі» <a href="#">смотреть >></a>
                </p>
                <p>
                    <strong>ПОЛОЖЕННЯ</strong> про порядок опрацювання усних звернень громадян що надійшли за 
                    допомогою засобів телефонного зв’язку в Концерн «Міські теплові мережі» <a href="#">смотреть >></a>
                </p>
                <p>
                    Письменные обращения граждан принимаются по адресу: 69091, г.Запорожье, бульвар Гвардейский,137.
                </p>
                <p>
                    Устные обращения граждан принимаются по телефону - 222-22-38, ежедневно, кроме выходных и праздничных 
                    дней в течение рабочего времени / понедельник-четверг с 8.00 до 17.00, пятница с 8.00 до 15.30.
                </p>
                <p>
                    Электронные обращения граждан принимаются по адресу: zvernennya@teploseti.zp.ua   
                </p>
            </div>
            <div class="col-md-6">
                <h3><b>Наше местоположение:</b></h3>
                <p>
                    Адреса:  69091, м. Запорожье, бульвар Гвардейский,137.
                </p>
                <p>
                    тел/факс: (061) 224-08-55, 222-22-22
                </p>
                <p>
                    e-mail: info@teploseti.zp.ua
                </p>
                <p>
                    e-mail для обращения граждан: zvernennya@teploseti.zp.ua
                </p>
                <div class="my_maps">
                    <div class="fluid-wrapper">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d1338.9766541959834!2d35.108514!3d47.8404979!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1484495473021"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="send_msg">
    <div class="container">
        <div class="row">
            <h4>Для отправки письма необходимо заполнить все поля форми</h4>
            <div class="col-md-3">
                <form role="form">
                    <div class="form-group">
                        <input name="fullname" type="text" class="form-control" id="fullname" placeholder="Ваше Имя" maxlength="30">
                    </div>
                    <div class="form-group">
                        <input name="email" type="text" class="form-control" id="email" placeholder="электронный адрес" maxlength="30">
                    </div>
                    <div class="form-group">
                        <input name="subject" type="text" class="form-control" id="subject" placeholder="Тема" maxlength="40">
                    </div>
                    <div>
                        <button type="button" class="btn btn-primary">Отправить письмо</button>
                    </div>
                </form>
            </div>
            <div class="col-md-9">
                <div class="txtarea">
                    <textarea name="message" rows="10" placeholder="Текст письма" class="form-control" id="message"></textarea>
                </div>
            </div>
        </div>
    </div>
</div><!--Contact End-->
<div class="clear"></div>