<!--Contact Start -->
    <div class="contact_field">
        <h2>Контактна інформація:</h2>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3><strong>Звернення громадян:</strong></h3>
                    <p>
                        Громадяни можуть направляти звернення поштою, на електронну адресу Концерну «МТМ»
                        zvernennya@teploseti.zp.ua або за допомогою засобів телефонного зв'язку.
                    </p>
                    <p>
                        Звернення громадян, отримані поштою, на електронну пошту Концерну «МТМ», за
                        допомогою засобів телефонного зв'язку, реєструються відповідно до ЗУ «Про
                        звернення громадян» як письмові звернення і розглядаються в строки, передбачені
                        законом.
                    </p>
                    <p>
                        <strong>ПОЛОЖЕННЯ</strong> про організацію та проведення особистого прийому громадян
                        генеральним директором Концерну «Міські	теплові мережі» <a href="#">дивитися >></a>
                    </p>
                    <p>
                        <strong>ПОЛОЖЕННЯ</strong> про організацію та проведення особистого прийому громадян посадовими особами Концерну «Міські теплові
                        мережі» <a href="#">дивитися >></a>
                    </p>
                    <p>
                        <strong>ПОЛОЖЕННЯ</strong> про порядок розгляду письмових звернень громадян в Концерні «Міські теплові мережі» <a href="#">дивитися >></a>
                    </p>
                    <p>
                        <strong>ПОЛОЖЕННЯ</strong> про порядок опрацювання усних звернень громадян що надійшли за допомогою засобів телефонного зв’язку в
                        Концерн «Міські теплові мережі» <a href="#">дивитися >></a>
                    </p>
                    <p>
                        Письмові звернення громадян приймаються за адресою: 69091, м.Запоріжжя, бульвар Гвардійський, 137.
                    </p>
                    <p>
                        Усні звернення громадян приймаються за телефоном – 222-22-38, щодня, крім вихідних та святкових днів протягом робочого часу
                        (понеділок-четвер з 8.00 до 17.00, п’ятниця з 8.00 до 15.30).
                    </p>
                    <p>
                        Електронні звернення громадян приймаються за адресою: zvernennya@teploseti.zp.ua
                    </p>
                </div>
                <div class="col-md-6">
                    <h3><b>Наше місцезнаходження:</b></h3>
                    <p>
                        Адреса:  69091, м. Запоріжжя, бул. Гвардійський, 137
                    </p>
                    <p>
                        тел/факс: (061) 224-08-55, 222-22-22
                    </p>
                    <p>
                        e-mail: info@teploseti.zp.ua
                    </p>
                    <p>
                        e-mail для звернень громадян: zvernennya@teploseti.zp.ua
                    </p>
                    <div class="my_maps">
                        <div class="fluid-wrapper">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d1338.9766541959834!2d35.108514!3d47.8404979!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1484495473021"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="send_msg">
        <div class="container">
            <div class="row">
                <h4>Для відтправки листа необхідно заповнити всі поля форми</h4>
                <div class="col-md-3">
                    <form role="form">
                        <div class="form-group">
                            <input name="fullname" type="text" class="form-control" id="fullname" placeholder="Ваше Ім'я" maxlength="30">
                        </div>
                        <div class="form-group">
                            <input name="email" type="text" class="form-control" id="email" placeholder="електронна адреса" maxlength="30">
                        </div>
                        <div class="form-group">
                            <input name="subject" type="text" class="form-control" id="subject" placeholder="Тема" maxlength="40">
                        </div>
                        <div>
                            <button type="button" class="btn btn-primary">Надіслати листа</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-9">
                    <div class="txtarea">
                        <textarea name="message" rows="10" placeholder="Текст повідомлення" class="form-control" id="message"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div><!--Contact End-->
    <div class="clear"></div>