@using Teploset.EF.Entities
@{
    var postsList = ViewBag.Posts as List<Post>;
    var newsList = ViewBag.Newses as List<News>;
}

<!--  start slider-->
<div id="slider">
    <div class="flexslider">
        <ul class="slides">
            <li>
                <div class="templatemo_caption">
                    <div class="templatemo_slidetitle">перший слайд</div>
                    <div class="clearfix"></div>
                    <h1>роз'яснення до першого слайду</h1>
                    <div class="clearfix"></div>
                    <a class="btn btn-large btn-primary" href="#">читати далі...</a>
                </div>
                <img width="1024" height="768" src="~/Content/images/slides/001.jpg" alt="" />
            </li>
            <li>
                <div class="templatemo_caption">
                    <div class="templatemo_slidetitle">другий слайд</div>
                    <div class="clearfix"></div>
                    <h1>роз'яснення до другого слайду</h1>
                    <div class="clearfix"></div>
                    <a class="btn btn-large btn-primary" href="#">читати далі...</a>
                </div>
                <img width="1024" height="768" src="~/Content/images/slides/002.jpg" alt="" />
            </li>
            <li>
                <div class="templatemo_caption">
                    <div class="templatemo_slidetitle">третій слайд</div>
                    <div class="clearfix"></div>
                    <h1>роз'яснення до третього слайду</h1>
                    <div class="clearfix"></div>
                    <a class="btn btn-large btn-primary" href="#">читати далі...</a>
                </div>
                <img width="1024" height="768" src="~/Content/images/slides/003.jpg" alt="" />
            </li>
            <li>
                <div class="templatemo_caption">
                    <div class="templatemo_slidetitle">четвертий слайд</div>
                    <div class="clearfix"></div>
                    <h1>роз'яснення до четвертого слайду</h1>
                    <div class="clearfix"></div>
                    <a class="btn btn-large btn-primary" href="#">читати далі...</a>
                </div>
                <img width="1024" height="768" src="~/Content/images/slides/004.jpg" alt="" />
            </li>
            <li>
                <div class="templatemo_caption">
                    <div class="templatemo_slidetitle">п'ятий слайд</div>
                    <div class="clearfix"></div>
                    <h1>роз'яснення до п'ятого слайду</h1>
                    <div class="clearfix"></div>
                    <a class="btn btn-large btn-primary" href="#">читати далі...</a>
                </div>
                <img width="1024" height="768" src="~/Content/images/slides/005.jpg" alt="" />
            </li>
            <li>
                <div class="templatemo_caption">
                    <div class="templatemo_slidetitle">шостий слайд</div>
                    <div class="clearfix"></div>
                    <h1>роз'яснення до шостого слайду</h1>
                    <div class="clearfix"></div>
                    <a class="btn btn-large btn-primary" href="#">читати далі...</a>
                </div>
                <img width="1024" height="768" src="~/Content/images/slides/006.jpg" alt="" />
            </li>
        </ul>
    </div>
    <div class="clearfix"></div>
</div>
<!-- end slider -->

<!-- top menu -->
<section id="icons" class="bottom-border-shadow">
    <div class="container bottom-border">
        <div class="row padding-vert-40">
            <!-- Icons -->
            <div class="col-md-3 col-sm-6 text-center">
                <a href="@Url.Action("Index_ua")">
                    <div class="item project-post">
                        <div class="item_box">
                            <div class="square_coner">
                                <span class="texts-a"><i class="fa fa-cogs"></i></span>
                            </div>
                            <h3>Додаткові послуги</h3>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 hover-box" style="color: #000000">
                            <div class="inner-hover-box">
                                <p>
                                    Переглянути<br/>додаткові<br/>послуги
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <a href="http://teploseti.zp.ua/ru/abonent/">
                    <div class="item project-post">
                        <div class="item_box">
                            <div class="square_coner">
                                <span class="texts-a"><i class="fa fa-file-text-o color-primary"></i></span>
                            </div>
                            <h3>Особистий кабінет</h3>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3 hover-box">
                            <div class="inner-hover-box">
                                <p>
                                    Вхід до<br/>особистого<br/>кабінету.
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <a href="@Url.Action("Index_ua")">
                    <div class="item project-post">
                        <div class="item_box">
                            <div class="square_coner">
                                <span class="texts-a"><i class="fa fa-bar-chart color-primary"></i></span>
                            </div>
                            <h3>Діючі тарифи</h3>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3 hover-box">
                            <div class="inner-hover-box">
                                <p>
                                    Переглянути<br/>діючі<br/>тарифи.
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <a href="http://teplo.gov.ua/#subsidii">
                    <div class="item project-post">
                        <div class="item_box">
                            <div class="square_coner">
                                <span class="texts-a"><i class="fa fa-pencil-square-o color-primary"></i></span>
                            </div>
                            <h3>Оформлення субсидії</h3>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3 hover-box">
                            <div class="inner-hover-box">
                                <p>
                                    Роз'яснення<br/>щодо<br/>оформлення<br/>субсидій
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- End Icons -->
        </div>
    </div>
</section>
<!-- end top menu-->

<!--posts start-->
<section id="post" class="bottom-border-shadow">
    <div class="container bottom-border">
        <div class="row padding-vert-40">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div>
                        <p class="margin-bottom-10 panel-head"><a href="#">об'яви</a></p>
                        <hr />
                    </div>
                    <div class="panel-body">
                        <ul class="posts-list">
                            <li>
                                <div class="recent-post">
                                    <img class="pull-left" src="~/Content/images/newsimg/warning.png" alt="images" />
                                    <a href="#" class="posts-title">Аварійне відключення</a>
                                    <br>
                                    <span class="posts-content">До уваги мешканців Олександрівського району</span>
                                    <br>
                                    <span class="post-date">16-01-2017</span>
                                </div>
                            </li>
                            <li>
                                <div class="recent-post">
                                    <img class="pull-left" src="~/Content/images/newsimg/warning.png" alt="images" />
                                    <a href="#" class="posts-title">Аварійне відключення</a>
                                    <br>
                                    <span class="posts-content">До уваги мешканців Вознесенівского району</span>
                                    <br>
                                    <span class="post-date">15-01-2017</span>
                                </div>
                            </li>
                            <li>
                                <div class="recent-post">
                                    <img class="pull-left" src="~/Content/images/newsimg/warning.png" alt="images" />
                                    <a href="#" class="posts-title">Аварійне відключення</a>
                                    <br>
                                    <span class="posts-content">До уваги мешканців Дніпровського району</span>
                                    <br>
                                    <span class="post-date">14-01-2017</span>
                                </div>
                            </li>
                            <li>
                                <div class="recent-post">
                                    <img class="pull-left" src="~/Content/images/newsimg/warning.png" alt="images" />
                                    <a href="#" class="posts-title">Аварійне відключення</a>
                                    <br>
                                    <span class="posts-content">До уваги мешканців Шевченківського району</span>
                                    <br>
                                    <span class="post-date">12-01-2017</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div>
                        <p class="margin-bottom-10 panel-head"><a href="#">новини</a></p>
                        <hr />
                    </div>
                    <div class="panel-body">
                        <ul class="posts-list margin-top-10">
                            <li>
                                <div class="recent-post">
                                    <img class="pull-left" width="64" height="48" src="~/Content/images/newsimg/money.jpg" alt="images" />
                                    <a href="#" class="posts-title">Оплата послуг Концерна "МТМ" без комісії.</a>
                                    <br>
                                    <span class="post-date">18-01-2017</span>
                                </div>
                                <br />
                            </li>
                            <li>
                                <div class="recent-post">
                                    <img class="pull-left" width="64" height="48" src="~/Content/images/newsimg/lowercost.jpg" alt="images" />
                                    <a href="#" class="posts-title">За два місяці Концерн «МТМ» з'єкономив майже 2 млн грн</a>
                                    <br>
                                    <span class="post-date">12-01-2017</span>
                                </div>
                                <br />
                            </li>
                            <li>
                                <div class="recent-post">
                                    <img class="pull-left" width="64" height="48" src="~/Content/images/newsimg/recent-post1.jpg" alt="images" />
                                    <a href="#" class="posts-title">Вітання з новим роком</a>
                                    <br>
                                    <span class="post-date">30-12-2016</span>
                                </div>
                                <br />
                            </li>
                            <li>
                                <div class="recent-post">
                                    <img class="pull-left" width="64" height="48" src="~/Content/images/newsimg/recent-post2.jpg" alt="images" />
                                    <a href="#" class="posts-title">Вітання з днем енергетика</a>
                                    <br>
                                    <span class="post-date">29-12-2016</span>
                                </div>
                                <br />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div>
                        <p class="margin-bottom-10 panel-head"><a href="#">вакансії</a></p>
                        <hr />
                    </div>
                    <div class="panel-body text-left">
                        <ul class="list-unstyled ">
                            <li>
                                <i class="fa fa-user color-primary"></i>&nbsp;&nbsp;&nbsp;Машиніст (кочегар) котельні
                            </li>
                            <br/>
                            <li>
                                <i class="fa fa-user color-primary"></i>&nbsp;&nbsp;&nbsp;Инженер-конструктор
                            </li>
                            <br/>
                            <li>
                                <i class="fa fa-user color-primary"></i>&nbsp;&nbsp;&nbsp;Інженер з проектно-кошторисної роботи
                            </li>
                            <br/>
                            <li>
                                <i class="fa fa-user color-primary"></i>&nbsp;&nbsp;&nbsp;Інженер-програміст
                            </li>
                            <br/>
                            <br/>
                            <li>
                                <a href="#">Детальніше &raquo;</a>
                            </li>
                            <br/>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</section>