@using Teploset.Classes
@model Teploset.Models.PostsListViewModel

@{
    var lang = ViewBag.Lang;
}

<div class="container">
    <div class="row">
        <table class="table table-hover" style="color: #000000">
            <thead>

            <tr>
                <th class="text-center">
                    Дата
                </th>
                <th class="text-center">
                    Заголовок
                </th>
                <th class="text-center">
                    @{
                        var sod = lang == "ua" ? "Короткий зміст" : "Краткое содержание";
                    }
                    @sod
                </th>
                <th>
                    @{
                        var opt = lang == "ua" ? "Опції" : "Опции";
                    }
                    @opt
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var post in Model.Posts)
            {
                <tr>
                    <td class="text-center" style="width: 50px">
                        @post.DateTimeOpen.ToShortDateString()<br/>
                    </td>
                    <td class="text-center" style="width: 40px">
                        @{
                            var str = lang == "ua" ? "Аварійне відключення" : "Авариное отключение";
                        }
                        @str
                    </td>
                    <td class="text-left" style="width: 200px">
                        @post.PostTitle
                    </td>
                    <td class="text-center" style="width: 50px">
                        @{
                            var rm = lang == "ua" ? "читати далі..." : "далee...";
                        }
                        @Html.ActionLink(@rm, "Details", new {postId = post.PostId, lang})
                    </td>
                </tr>
            }
            </tbody>
            <tfoot></tfoot>
        </table>

        <div style="text-align: center">
            @Html.PageLinks(Model.PagingInfo, i => Url.Action("Index", new { page = i }))
        </div>

    </div>
</div>

