* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*::after,
*::before {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
}
 
/*************************** Основные пункты **/
 
#hornav {
    padding: 0px;
	margin: 0px;
	text-align: center;
    z-index: 10/* для отображения подпунктов поверх остальных блоков */
}
 
#hornav ul, /* сбрасываем поля и отступы у списков */
#hornav ul ul,
#hornav ul ul li {
    list-style: none;
    padding: 0;
    margin: 0;
}
#hornav ul {
    color: #444; 
	display: inline-block;
	margin: 0 0 -6px;
	padding: 0px;
	float: none;
	font: 16px Arial, Helvetica, sans-serif;
	text-transform: uppercase;
}
#hornav ul li {
    position: relative;
    padding: 0 0 30px 0;
    float: left;
    height: 50px;
}
#hornav ul li:last-child {
    border: none;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none
}
#hornav ul li a {
    display: block;
    color: #fff;
	font-weight: 700;
    text-decoration: none;
    padding: 13px 25px
}
#hornav ul > li:hover > a {
    background-color: #99c2e7;
    background-image: -moz-linear-gradient(#005fa1, #99c2e7);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#005fa1), to(#99c2e7));
    background-image: -webkit-linear-gradient(#005fa1, #99c2e7);
    background-image: -o-linear-gradient(#005fa1, #99c2e7);
    background-image: linear-gradient(#005fa1, #99c2e7);
    color: #ff0000;
}
 
/** Индикатор наличия подкатегорий верхнего уровня **/
 
#hornav > ul > li.parent > a::after {
    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
    content: "";
    display: inline-block;
    vertical-align: top;
    margin: 4px 0 0 8px;
    -webkit-transform: rotate(-135deg);
       -moz-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
         -o-transform: rotate(-135deg);
            transform: rotate(-135deg);
    height: 5px;
    width: 5px;
}
 
/*************************** Выпадающие подпункты **/
 
#hornav ul li ul {
    background: #99c2e7;
	border-radius: 5px;
	border: 1px solid #dddddd;
            transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
       -moz-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
         -o-transition: all .2s ease-in-out;
    text-transform: none;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 0;
    line-height: 18px;
    top: 46px;
    font-size: 14px;
    margin-top: 20px;
    height: auto;
    min-width: 260px;
    width: 100%
}
#hornav ul li:hover > ul {
    opacity: 1;
    visibility: visible;
    -webkit-transition: margin 0.3s ease 0s;
       -moz-transition: margin 0.3s ease 0s;
         -o-transition: margin 0.3s ease 0s;
            transition: margin 0.3s ease 0s;
    margin: 0;
    z-index: 11;
}
#hornav ul li ul li {
    border: none;
            box-shadow: 0 1px 0 #dddddd, 0 2px 0 #fafafa;
       -moz-box-shadow: 0 1px 0 #dddddd, 0 2px 0 #fafafa;
         -o-box-shadow: 0 1px 0 #dddddd, 0 2px 0 #fafafa;
    -webkit-box-shadow: 0 1px 0 #dddddd, 0 2px 0 #fafafa;
        -ms-box-shadow: 0 1px 0 #dddddd, 0 2px 0 #fafafa;
    position: relative;
    left: 0;
    float: none;
    height: auto;
    text-align: left !important;
}
#hornav ul li ul li:last-child {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
#hornav ul li ul li a {
    padding: 10px 15px;
    border: none
}
 
/*************************** Выпадающие пункты второго уровня **/
 
#hornav ul li ul li ul {
	width:350px;
    top: 0;
    left: 100%;
    margin: 0 0 0 20px;
    _margin: 0;
    /*IE6 only*/
            box-shadow: -1px 0 0 rgba(255, 255, 255, .3);
       -moz-box-shadow: -1px 0 0 rgba(255, 255, 255, .3);
         -o-box-shadow: -1px 0 0 rgba(255, 255, 255, .3);
        -ms-box-shadow: -1px 0 0 rgba(255, 255, 255, .3);
    -webkit-box-shadow: -1px 0 0 rgba(255, 255, 255, .3);
}
 
/** Индикатор наличия подкатегорий 2 уровня **/
 
#hornav > ul > li ul li.parent > a::after {
    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
    content: "";
    display: inline-block;
    vertical-align: top;
    margin: 7px 0px 0px 8px;
    -webkit-transform: rotate(135deg);
       -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
         -o-transform: rotate(135deg);
            transform: rotate(135deg);
    height: 5px;
    width: 5px;
    float: right;
}
 
/********************** Стрелочки на подпунктах **/
 
#hornav ul ul li:first-child > a {
            border-radius: 3px 3px 0 0;
       -moz-border-radius: 3px 3px 0 0;
         -o-border-radius: 3px 3px 0 0;
        -ms-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
}
#hornav ul li > ul > li:first-child > a:before {
    content: '';
    position: absolute;
    left: 40px;
    top: -6px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fafafa;
}
#hornav ul ul ul li:first-child a:before {
    left: -6px;
    top: 50%;
    margin-top: -6px;
    border-left: 0;
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
    border-right: 6px solid #fafafa;
}
#hornav ul ul li:first-child a:hover:before {
    border-bottom-color: #04acec
}
#hornav ul ul ul li:first-child a:hover:before {
    border-right-color: #0299d3;
    border-bottom-color: transparent;
}
#hornav ul ul li:last-child > a {
       -moz-border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
            border-radius: 0 0 3px 3px;
}
#hornav > ul > li.parent > ul > li:first-child > a::before {
    display: none;
}
#hornav > ul > li.parent > a::before {
    bottom: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fafafa;
    content: '';
    visibility: hidden;
    position: absolute;
    left: 50%;
    margin-left: -6px;
}
#hornav > ul > li.parent:hover > a::before {
    visibility: visible;
    -webkit-transition: all .5s ease .2s;
       -moz-transition: all .5s ease .2s;
         -o-transition: all .5s ease .2s;
            transition: all .5s ease .2s;
}

/*Mobile menu*/

.slicknav_menu {
		display:none;
	}