 <!-- Bottom Start -->
<div class="templatemo_bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-1">
                <a href="https://ru-ru.facebook.com/zpTeploseti/" target="_blank">FACEBOOK</a>
            </div>
            <div class="col-md-7">
                <ul class="list-unstyled list-inline">
                    |
                    <li>
                        <a href="@Url.Action("Index", "Home", new { id = "ru" })">Главная</a>
                    </li>
                    |
                    <li>
                        <a href="@Url.Action("Index", "News", new { id = "ru" })">Новости</a>
                    </li>
                    |
                    <li>
                        <a href="@Url.Action("Index", "Post", new { id = "ru" })">Объявления</a>
                    </li>
                    <!-- |
                    <li>
                        <a href="ua/author_ua.html" target="_blank">Вхід</a>
                    </li> -->
                    |
                    <li>
                        <a href="@Url.Action("Contact", "Home", new { id = "ru" })">Контакты</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <span style="float: right">&copy;@DateTime.Now.Year Концерн &laquo;Городские тепловые сети&raquo;</span>
            </div>
        </div>
    </div>
</div>
<!-- Bottom End -->
