 <!-- Bottom Start -->
<div class="templatemo_bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-1">
                <a href="https://ru-ru.facebook.com/zpTeploseti/" target="_blank">FACEBOOK</a>
            </div>
            <div class="col-md-7">
                <ul class="list-unstyled list-inline">
                    |
                    <li>
                        <a href="index.html" target="_blank">Головна</a>
                    </li>
                    |
                    <li>
                        <a href="ua/news.html" target="_blank">Новини</a>
                    </li>
                    |
                    <li>
                        <a href="ua/posts.html" target="_blank">Об'яви</a>
                    </li>
                    <!-- |
                    <li>
                        <a href="ua/author_ua.html" target="_blank">Вхід</a>
                    </li> -->
                    |
                    <li>
                        <a href="ua/contact_ua.html" target="_blank">Контакти</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <span style="float: right">&copy;@DateTime.Now.Year Концерн &laquo;Міські теплові мережі&raquo;</span>
            </div>
        </div>
    </div>
</div>
<!-- Bottom End -->
