@using Teploset.EF
@{
    var aboutCatalog = ViewBag.AboutCatalog as AboutCatalog;
}

@if (aboutCatalog != null)
{
    <div class="container">
        <div class="row">
            <p>@aboutCatalog.DateTimeCreate.ToShortDateString()</p>

            @Html.Raw(@aboutCatalog.Body)
        </div>
    </div>
}